@model KantinMvc.Models.CARIKART

@{
    ViewBag.Title = "CariGuncelle";
}
<br />
    <div>
        <h2 class="display-4" style="color:lightseagreen">Cari Güncelle</h2>
    </div>
<br />
@using (Html.BeginForm("CariGuncelle", "Cari", FormMethod.Post))
{@Html.HiddenFor(m => m.ID)
@Html.HiddenFor(m => m.ISLEMTARIHI)

    <form>
        <div class="row">
            <div class="col">
                @Html.LabelFor(c => c.CARIKOD)
                @Html.TextBoxFor(c => c.CARIKOD, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.CARIKOD)
            </div>
            <div class="col">
                @Html.LabelFor(c => c.VERGINO)
                @Html.TextBoxFor(c => c.VERGINO, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.VERGINO)
                <label id="lblVergiNoHata" style="display:none;color:red">Ünvan alanı boş olamaz</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.LabelFor(c => c.VERGIDAIRESI)
                @Html.TextBoxFor(c => c.VERGIDAIRESI, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.VERGIDAIRESI)
            </div>
            <div class="col">
                @Html.LabelFor(c => c.ADISOYADI)
                @Html.TextBoxFor(c => c.ADISOYADI, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.ADISOYADI)
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.LabelFor(c => c.UNVAN)
                @Html.TextBoxFor(c => c.UNVAN, new { @class = "form-control" })
                @*@Html.ValidationMessageFor(c => c.UNVAN)*@
                <label id="lblUnvanHata" style="display:none;color:red">Ünvan alanı boş olamaz</label>
            </div>
            <div class="col">
                @Html.LabelFor(c => c.IL)
                @Html.TextBoxFor(c => c.IL, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.IL)

            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.LabelFor(c => c.ILCE)
                @Html.TextBoxFor(c => c.ILCE, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.ILCE)
                <label id="lblAdHata" style="display:none;color:red">Ad alanı boş olamaz</label>
            </div>
            <div class="col">
                @Html.LabelFor(c => c.TELEFON)
                @Html.TextBoxFor(c => c.TELEFON, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.TELEFON)

            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.LabelFor(c => c.FAKS)
                @Html.TextBoxFor(c => c.FAKS, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.FAKS)
                <label id="lblAdHata" style="display:none;color:red">Ad alanı boş olamaz</label>
            </div>
            <div class="col">
                @Html.LabelFor(c => c.ADRES)
                @Html.TextAreaFor(c => c.ADRES, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.ADRES)
            </div>
        </div>
        <input type="submit" name="button" value="Güncelle" class="btn btn-primary" return onclick="BoslukKontrol()" />
    </form>

}
@section scripts
{
    <script>
        function BoslukKontrol() {
            var hatayok = true;
            if ($("UNVAN").val() == "" || $("#ADRES").val() == "" || $("#IL").val() == "" || $("#ADISOYADI").val() == "" || $("#TELEFON").val() == "" || $("#FAKS").val() == "" || $("#ILCE").val() == "" || $("#VERGIDAIRESI").val() == "" || $("#VERGINO").val() == "" || $("#CARIKOD").val() == "") {
                $("#lblUnvanHata").show();
                $("#lblVergiNoHata").show();
                hatayok = false;
            }
            return hatayok;
        }


    </script>
} 