@model KantinMvc.Models.MENUTANIM

@{
    ViewBag.Title = "MenuGuncelle";
}
   
<br />
<div>
    <h2 class="display-4" style="color:lightseagreen">Menü Güncelle</h2>
</div>
<br />


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render()
    <title>MarkaGuncelle</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("MenuGuncelle", "Menu", FormMethod.Post, new { @class = "was-validated" }))
        {
            @Html.HiddenFor(m => m.ID)
            @Html.LabelFor(m => m.ADI)
            @Html.TextBoxFor(m => m.ADI, new { @class = "form-control is-invalid", required = "required" } )

            <label id="lblAdHata" style="display:none;color:red">Ad alanı boş olamaz</label><br />
            <div>
                <input type="submit" name="button" value="Güncelle" class="btn btn-primary" return onclick="BoslukKontrol()" />
            </div>
        }
    </div>
    <script>
        function BoslukKontrol() {
            var hatayok = true;
            if ($("#ADI").val() == "") {
                $("#lblAdHata").show();
                hatayok = false;
            }
            return hatayok;
        }


    </script>

</body>
</html>